header {
    margin-bottom: 6em;
}
header nav {
    position: absolute;
    top: 0;
    width: 100%;
}
header nav ul {
    display: inline-block;
    width: 100%;
    padding: 0;
}
header nav ul li {
    list-style: none;
    float: left;
    width: 26.5%;
    margin: 0 1em;
    text-align: center;
}
.container {
    margin: auto;
    width: 80%;
}
.container > div {
    width: 90%;
}
.container li {
    list-style: none;
}
.menu li{
    list-style: none;
    float: left;
    display: block;
    font-size: 1.5em;
}
.menu li a {
    padding: 1em;
}
.menu li:hover a {
    /*background: gainsboro;*/
}
.menu li .subcat {
    display: none;
    text-align: left;
    padding: 1em;
    font-size: 0.8em;
    background: gainsboro;
}
.menu li:hover .subcat{
    display: block;
}
.item {
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 1em;
    background: #f9f8f7;
}
#inline-basket {
    width: 250px;
    padding: 1em;
    background: #bcbcbc;
    position: absolute;
    right: 0;
}
#inline-basket header {
    margin: 0;
}
#inline-basket a {
    color: #FFFFFF;
    padding: 0.7em;
    background: gray;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 1px 1px 1px gray;
    font-size: 0.8em;
    margin-left: -1em;
}
#inline-basket > ul {
    display: none;
    padding: 1em;
}
#inline-basket:hover > ul {
    display: block;
}
#inline-basket > ul li:last-of-type {
    list-style: none;
    float: right;
}
#inline-basket .basketItems {
    margin-bottom: 1em;
    text-align: right;
}
#inline-basket .basketItems span {
    display: block;
    text-align: left;
}
#inline-basket .basketItems ul {
    list-style: none;
    text-align: left;
    padding-left: 2em;
}