<div id="content">
    <h1>Your Shopping Cart</h1>
    <div class="item">
        <h2>{{item.subcat}}</h2>
        <p>Item:<span>{{item.item}}</span></p>
        <p>Price:<span>{{item.price | currency}}</span></p>
        <p>Quantity:<span>{{item.quantity}}</span></p>
        <input ng-model='item.quantity'>
        <p>Total: <span ng-model="total">{{item.price * item.quantity | currency}}</span></p>
        <button ng-click="addToBasket(item.quantity)">Add</button>
        <button ng-click="clearItem()">Clear</button>
    </div>
</div>